* {
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
	min-width: 260px;
}

body {
	background-color: #eceaf2;
	font-family: 'Georgia', serif;
	
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.sub-container {
	width: 90%;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	padding: 100px;
	text-align: center;
	font-size: 50px;
}

header p {
	font-size: 20px;
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
}

figcaption {
	text-align: center;
	font-size: 20px;
}

.img1 {
	display: block;
	width: 600px;
	margin: 50px;
	max-width: 600px;
}

#tribute-info {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	background-color: #ECEAF2;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

ul {
	text-align: left;
	list-style: inside;
	line-height: 30px;
	margin:0 auto;
	max-width: 550px;
}

li {
	margin: 20px;
}

.reference {
	margin-top: 30px;
	font-size: 20px;
}

#footer {
	background-color: #A298C0;
	text-align: center;
	padding: 20px;
	margin-top: -20px;
	font-size: 20px;
}

@media (max-width: 600px) {
	.img1 {
		width: 200px;
	}
}